doctype html
html
  head
    link(
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    )
    style.
      * {
        font-family: 'Montserrat', sans-serif;
        color: #2a2a2a;
      }

      body {
        background-color: #fafafa;
      }

  body
    .container
      center
        img(
          width="500px"
<<<<<<< HEAD
          height="450px"
          alt="Eiffel Tower"
          title="Explore"
=======
>>>>>>> 4261ffe... Added Welcome Email.
          src="https://www.sanjay7.com/assets/eiffel-tower.svg"
        )
        h1 Welcome to Visiit, #{name}.
        p Let's start exploring together