doctype html
html
  head
    link(
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    )
    style.
      * {
        font-family: 'Montserrat', sans-serif;
        color: #2a2a2a;
      }

      body {
        background-color: #fafafa;
      }

  body
    .container
      center
        img(
          width="500px"
          height="450px"
          alt="Eiffel Tower"
          title="Explore"
          src="https://drive.google.com/file/d/1Hz-sqgIGdLwpcWKElBz-fNbtcJ9U7vsd/view?usp=sharing"
        )
        h1 Welcome to Visiit, #{name}.
        p Let's start exploring together